body {
  padding: 10px;
}
.listing-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.listing-card {
  text-align: left;
  margin: 30px 0px;
}
.item-image img {
  width: inherit;
  object-position: center;
}
.item-title,
.item-bid-status,
.item-publisher,
.item-description {
  border-bottom: 1px solid darkgray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.item-close-listing {
  padding-left: 10px;
}
