body {
  padding: 10px;
}
.listing-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.listing-card {
  text-align: left;
  margin: 30px 0px;
}
.listing-card h5 {
  margin-top: 10px;
}

.item-image img {
  width: inherit;
  object-position: center;
}
.item-title,
.item-bid-status,
.item-publisher,
.item-description {
  border-bottom: 1px solid darkgray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.item-close-listing {
  padding-left: 10px;
}

.watchlist-winner {
  box-shadow: 1px 1px 10px rgb(48, 197, 48);
}
.watchlist-loser {
  box-shadow: 1px 1px 10px rgb(239, 27, 27);
}
