{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="listing-title">Active Listings</h3>
        </div>
    </div>
    {% for listing in listings %}
    <div class="row listing-item">
        <div class="col-4">
            <img class="listing-image" src="{{listing.image}}" alt="{{listing.title}}" />
        </div>
        <div class="listing-info col-8">
            <p>{{listing.title}}</p>
            <p>{{listing.description}}</p>
            <p>{{listing.starting_bid}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}