{% extends "auctions/layout.html" %} {% block body%}
<div class="container">
  <div class="row">
    <div class="col-8 item-image">
      <img src="{{item.image}}" alt="{{item.title}}" />
    </div>
    <div class="col-4">
      <div class="row item-title ">
        <h2>{{item.title}}</h2>
        <h5>Current price: ${{item.starting_bid}}</h5>
      </div>
      <div class="row">
        <p>Listed By: </p>
        <p>{{item.publisher}}</p>
      </div>
      <div class="row item-publisher">
        <p>Latest activity: </p>
        <p>{{item.last_update}}</p>
      </div>
      <div class="row item-description">
        <p>{{item.description}}</p>
      </div>
      {% if user.is_authenticated %}
      <div class="row">
        <div class="col-4">
          <p>Place Bid:</p>
        </div>
        {% if listing_in_watchlist %}
        <div class="col-8">
          <form action="{% url 'remove_from_watchlist' id=item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
          </form>
        </div>
        {% else %}
        <div class="col-8">
          <form action="{% url 'add_to_watchlist' id=item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">
              Add To Watchlist
            </button>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-4">
          <form method="POST" action="{% url 'make_bid' id=item.id %}" id="bid-form">
            {% csrf_token %}
            <div class="form-group">
              <input type="number" class="form-control" value="0" name="amount" min="0" id="amount"
                placeholder="amount">
            </div>
          </form>
        </div>
        <div class="col-8">
          <button form="bid-form" type="submit" class="btn btn-primary">Bid</button>
        </div>
      </div>
      <div>
        {% if update %}
        {% if status %}
        <div class="alert alert-success" role="alert">
          Bid placed!
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
          You must bid more than the current price
        </div>
        {% endif %}
        {% endif %}
      </div>
      {% endif %}
      <div class="row">
        {% if owner %}
        <button type="button" class="btn btn-success">Success</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-8">
      <form method="POST" action="{% url 'comment' item.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="comment">Comment</label>
          <input type="text" name="comment" class="form-control" id="comment"
            placeholder="Leave a comment">
        </div>
        <button type="submit" class="btn btn-secondary">Send</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      {% for message in comments %}
      <div>
        <p>
          {{message}}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}