{% extends "auctions/layout.html" %} {% block body%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="listing-title">Watchlist</h3>
        </div>
    </div>
    <div class="row">
        {% for listing in listings %}
        <div class="col-3 listing-card">
            <a href="{% url 'item' listing.id %}">
                {% if listing.winner == user and not listing.is_active  %}
                <img class="listing-image watchlist-winner" src="{{listing.image}}"
                    alt="{{listing.title}}" />
                {% elif listing.winner != user and not listing.is_active %}
                <img class="listing-image watchlist-loser" src="{{listing.image}}"
                    alt="{{listing.title}}" />
                {% else %}
                <img class="listing-image" src="{{listing.image}}" alt="{{listing.title}}" />
                {% endif %}
            </a>
            <div class="listing-info">
                <h5>${{listing.starting_bid}}</h5>
                <a href="{% url 'item' listing.id %}"> {{listing.title}} </a>
                <p>{{listing.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}